
<div class="container">
<% @beverages.each do |b| %>

<div class="col-md-4">

<svg viewBox="0 0 960 560">
<g>
<polygon fill=<%=b.colors[0].value %> 
	points="412.3,518.6 342.4,457.3 342.4,87.2 412.3,28.4 548.9,28.4 616.5,87.3 616.5,457.3 548.9,518.6"/>

</g>
<polyline fill="#888888" points="345.6,87.2 413.2,31.5 547.6,31.5 612.6,88.2 "/>
<polygon fill=<%=b.colors[1].value%> points="344.7,89.8 413.2,148.2 413.2,516.3 344.7,456 "/>
<polygon fill=<%=b.colors[2].value%> points="547.9,148.9 612.9,90.9 612.9,454.9 547.9,516.2 "/>
<polygon opacity="0.6" fill="#FFFFFF" points="344.8,317.3 413.1,246.4 548.5,246.4 613.1,187.3 613.1,132 548.5,191.1 
	413.1,191.1 344.8,262 "/>
<polyline fill="#FFFFFF" stroke="#000000" stroke-width="1" stroke-miterlimit="10" points="613.7,88 546.6,147.1 414,146.1 
	345.1,87.4 "/>
</svg>
<div class="bev-names">
<h2><%= link_to b.name, beverage_path(b.id)  %></h2>
<div class="btn-group">
<button type="button" class="btn btn-default btn-sm">
  Y
</button>
<button type="button" class="btn btn-default btn-sm">
  N
</button>
<button type="button" class="btn btn-default btn-sm">
  whatever
</button>
</div>
</div>
</div>


<% end %>
</div>
<div class="row">
<ul class="pager">
<%= will_paginate @beverages, :page_links => false %>
</ul>
</div>
</div>


