<div class="container">


<div class="jumbotron">
<div class="new-bev-logo">
<!-- the logo goes here. loads in CSS -->
</div>
<%= bootstrap_form_for @beverage do |f|%>
<p><%= f.text_field :name, placeholder: "Name", label: "Beverage Name" %></p>
<!-- create associated colors -->
<%= f.fields_for :colors do |color|%>
<div class="col-sm-4">
<%= color.color_field :value, label: "Color" %> 
</div>
<% end %>


<%= f.submit %>
<% end %>


</div>


</div>


<div class="bev-add">

<h2><%= link_to "Back", beverages_path %> </h2>
</div>