<div class="container">
<div class="col-md-6">
<%= form_for @beverage do |f|%>
<p><%= f.text_field :name, placeholder: "Name" %></p>
<!-- create associated colors -->
<%= f.fields_for :colors do |color|%>
<%= color.text_field :name, placeholder: "Color Name" %>
<%= color.color_field :value %> 

<% end %>


<%= f.submit %>
<% end %>


</div>
</div>