<div class="container">


<div class="jumbotron">

<%= bootstrap_form_for @beverage do |f|%>
<div class="col-md-8">
<h1> New Beverage </h1>
<p><%= f.text_field :name, placeholder: "Name", label: "Beverage Name" %></p>
<!-- create associated colors -->
</div>
<div class="col-sm-4">
<h3>Colors for Beverage </h3>
<%= f.fields_for :colors do |color|%>

<%= color.color_field :value, label: "_" %> 

<% end %>
</div>

<%= f.submit %>
<% end %>


</div>


</div>


<div class="back-button">

<h2><%= link_to "Back", beverages_path %> </h2>
</div>