<div class="container">


<div class="col-md-6 bev-contain">

<svg version="1.1" id="can" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 960 540" >
	 <g>
<polygon fill=<%=@beverage.colors[0].value %> points="344.7,89.8 413.2,148.2 413.2,516.3 344.7,456 "/>
<polygon fill=<%=@beverage.colors[2].value%> points="547.9,148.9 612.9,90.9 612.9,454.9 547.9,516.2 "/>
<rect fill=<%=@beverage.colors[1].value %>  x="412" y="148.2" width="137" height="368"/>
<polygon opacity="0.25" fill="#FFFFFF" enable-background="new    " points="344.8,193.1 413.1,179.3 548.5,179.3 613.1,167.9 
	613.1,157.1 548.5,168.6 413.1,168.6 344.8,182.4 "/>
<rect x="378.9" y="57.1" transform="matrix(0.776 -0.6307 0.6307 0.776 39.3807 284.1144)" width="81.6" height="59.1"/>
<rect x="451.3" y="60.7" fill="#C6C6C6" width="37.3" height="41.3"/>
<path fill="#939393" d="M547,31.3H412.6l-68.1,58.9l68.9,58.7H548l65.1-58.1L547,31.3z M403.8,113.2l-26.4-21.5l75-27.6l26.4,22.5
	L403.8,113.2z"/>
<polygon opacity="0.25" fill="#FFFFFF" enable-background="new    " points="344.6,443.8 413,412.7 548.3,412.7 612.9,386.7 
	612.9,362.5 548.3,388.4 413,388.4 344.6,419.5 "/>
	</g>
</svg>

<div class="col-md-12 bev-user">

<h1> THIS BEVERAGE 
<% if Vote.where(beverage_id: @beverage.id, state: "positive").count > 
	Vote.where(beverage_id: @beverage.id, state: "negative").count %>
	IS AWESOME
	<% elsif Vote.where(beverage_id: @beverage.id, state: "positive").count == 
	Vote.where(beverage_id: @beverage.id, state: "negative").count %>
	IS OK
	<% else %>
	SUCKS
	<% end %>
	</h1>
</div>

</div>
	<div class="col-md-6 jumbotron">
	<p>Beverage: </p>
		<h1><%= @beverage.name %></h1>
		<p> By: User </p> 
		<h3><div href="#" class="label label-success">
		<%= Vote.where(beverage_id: @beverage.id, state: "positive").count %></div>
		<div href="#" class="label label-default">
		<%= Vote.where(beverage_id: @beverage.id, state: "meh").count %></div>
		<div href="#" class="label label-danger">
		<%= Vote.where(beverage_id: @beverage.id, state: "negative").count %></div></h3>
		</p>
		<%= link_to "Back", beverages_path %>
	</div>
</div>










<script type="text/javascript">



var s = Snap("#can");
var g = s.select("g");

 g.mouseover(  function() { g.animate({ transform: 's3r3,6,5' }, 1000, mina.bounce ) } );
 g.mouseout	(  function() { g.animate({ transform: 's1r0,150,150' }, 1000, mina.bounce ) });



</script>
