<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<%= form_for @user do |f|%>
<%= f.text_field :name, placeholder:"NAME" %>
<%= f.text_field :email, placeholder:"EMAIL" %>
<%= f.password_field :password, placeholder:"PASS" %>
<%= f.password_field :password_confirmation, placeholder:"Pass CONF" %>
<%= f.submit %>
<% end %>